transformer/src/main/resources/xsl/NCIVocabMap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by Jingdong Li (private) -->
<!--W3C Schema generated by XMLSpy v2011 rel. 3 (x64) (http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="valueset">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="code" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string"/>
			<xsd:attribute name="oid" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="translation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="valueset" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="code" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="translate">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="qualifier" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="displayName" type="xsd:string"/>
			<xsd:attribute name="codeSystemName" type="xsd:string"/>
			<xsd:attribute name="codeSystem" type="xsd:string"/>
			<xsd:attribute name="code" type="xsd:string" use="optional"/>
			<xsd:attribute name="negationInd" type="xsd:boolean" default="false"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="code">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="translate"/>
			</xsd:sequence>
			<xsd:attribute name="displayName" type="xsd:string"/>
			<xsd:attribute name="codeSystemName" type="xsd:string"/>
			<xsd:attribute name="codeSystem" type="xsd:string"/>
			<xsd:attribute name="code" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="name">
		<xsd:complexType>
			<xsd:attribute name="displayName" type="xsd:string"/>
			<xsd:attribute name="codeSystemName" type="xsd:string"/>
			<xsd:attribute name="codeSystem" type="xsd:string"/>
			<xsd:attribute name="code" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="value">
		<xsd:complexType>
			<xsd:attribute name="displayName" type="xsd:string"/>
			<xsd:attribute name="codeSystemName" type="xsd:string"/>
			<xsd:attribute name="codeSystem" type="xsd:string"/>
			<xsd:attribute name="code" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="qualifier">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="name"/>
				<xsd:element ref="value"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
