ip-mirth/src/main/resources/schema/caCISIPDataSharing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://cacis.nci.nih.gov" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cda="urn:hl7-org:v3" targetNamespace="http://cacis.nci.nih.gov" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="urn:hl7-org:v3" schemaLocation="CDA.xsd"/>
	<xs:annotation>
		<xs:documentation>This schema defines the syntax used to communicate canonical clinical data from the Semantic Adaptor to the Integation Platform.  It may also be used to communicate 'native' clinical data from source applications capable of expressing data within SOAP services interfaces or other XML exchange mechanisms.  It will be used as the interface from TRANSCEND Tolven to the Semantic Adaptor.</xs:documentation>
	</xs:annotation>
	<xs:element name="caCISRequest" type="CaCISRequest">
		<xs:annotation>
			<xs:documentation>The root element for the XML structure to be passed from a native clinical application to the Semantic Adaptor for processing by the NCI caCIS solution.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CaCISRequest">
		<xs:sequence>
			<xs:element name="routingInstructions" type="RoutingInstructions" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines the type of document(s) to be created from the accompanying canonical data structure.  If not specified, then the passed data will only be used for publishing to the data warehouse.  No documents will be produced from the data and no exchanges will be initiated.</xs:documentation>
				</xs:annotation>
				<xs:unique name="FormatUniqueInDocument">
					<xs:selector xpath="exchangeDocument"/>
					<xs:field xpath="@documentType"/>
				</xs:unique>
			</xs:element>
			<xs:element name="sourceData" type="ClinicalData">
				<xs:annotation>
					<xs:documentation>This is the native clinical data being transmitted.  The format will vary by native application. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="clinicalMetaData" type="ClinicalMetadata">
				<xs:annotation>
					<xs:documentation>Provides key characteristics of the clinical data being shared.  This is optional when data is originating from a source system, provided the necessary data can be extracted and populated from the "clinicalData" element and this section populated by the Semantic Adaptor.  The content must ALWAYS align with the corresponding data elements within the data structure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="cda:ClinicalDocument">
				<xs:annotation>
					<xs:documentation>This is the canonical data being transmitted.  The format will vary by native application.  This will always be in the Canonical data format.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoutingInstructions">
		<xs:sequence>
			<xs:element name="exchangeDocument" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Defines a type of document to be produced from the data specified and sent to particular recipients</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="recipient" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Identifies the intended application and/or person recipients of this particular exchange document.  These recipients will be added to those already associated with the specified exchange format type.  I.e. The final list of recipients will be those listed here as well as those pre-configured based on the specified exchange format.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element name="secureEmailAddress" type="EmailAddress">
										<xs:annotation>
											<xs:documentation>Indicates the delivery is to be performed using Secure e-mail</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="navEmailAddress" type="EmailAddress">
										<xs:annotation>
											<xs:documentation>Indicates the delivery is to be performed using IHE NAV, then XDS-Get</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ftpAddress">
										<xs:annotation>
											<xs:documentation>Indicates the delivery is to be performed using Secure e-mail</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="url" use="required">
												<xs:annotation>
													<xs:documentation>Identifies where the recipient can be reached.  If the URL is mailto, the transmission mechanism must be specified.</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:anyURI">
														<xs:pattern value="ftp://([^\s])+(\.([^\s])+)+">
															<xs:annotation>
																<xs:documentation>Restrict to either an e-mail or FTP address</xs:documentation>
															</xs:annotation>
														</xs:pattern>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="exchangeFormat" type="ExchangeFormat" use="required">
						<xs:annotation>
							<xs:documentation>Identifies the specific document to be produced (and shared)</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="documentType" type="DocumentType" use="required">
			<xs:annotation>
				<xs:documentation>Identifies the type of document to be generated (should be aligned with the set of data provided)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ClinicalMetadata">
		<xs:attribute name="patientIdRoot" type="UUID" use="required">
			<xs:annotation>
				<xs:documentation>The globally unique identifier for the namespace associated with the identifier for the patient or study subject whose information is being conveyed.  In situations where the patient identifier is already globally unique (e.g. a GUID), the full identifier may be sent here.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="patientIdExtension" type="NonEmptyString" use="optional">
			<xs:annotation>
				<xs:documentation>The local identifier assigned to a patient within the patientIdRoot namespace.  This element may only be omitted when the full, globally unique, patient identifier is sent in the patientIdRoot attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="siteIdRoot" type="UUID" use="required">
			<xs:annotation>
				<xs:documentation>The globally unique identifier for the namespace associated with the identifier for the study site or clinical facility from which the data originated.  In situations where the site identifier is already globally unique (e.g. a GUID), the full identifier may be sent here.  This will generally be a fixed value for most clinical applications as most clinical applications are specific to a single site.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="siteIdExtension" type="NonEmptyString" use="optional">
			<xs:annotation>
				<xs:documentation>The local identifier assigned to a study site or clinical facility within the siteIdRoot namespace.  This element may only be omitted when the full, globally unique, site identifier is sent in the siteIdRoot attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="studyIdRoot" type="UUID" use="optional">
			<xs:annotation>
				<xs:documentation>The globally unique identifier for the namespace associated with the identifier for the study in whose context the data was captured.  In situations where the study identifier is already globally unique (e.g. a GUID), the full identifier may be sent here.  This element may only be omitted if the data was captured outside the context of a specific study.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="studyIdExtension" type="NonEmptyString" use="optional">
			<xs:annotation>
				<xs:documentation>The local identifier assigned to a study within the siteIdRoot namespace.  This element may only be omitted if the patient data is not study-specific or when the full, globally unique, study identifier is sent in the studyIdRoot attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EmailAddress">
		<xs:attribute name="url" use="required">
			<xs:annotation>
				<xs:documentation>Identifies an email where the recipient can be reached.  If the URL is mailto, the transmission mechanism must be specified.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:anyURI">
					<xs:pattern value="mailto:([^\s])+@([^\s])+(\.([^\s])+)+">
						<xs:annotation>
							<xs:documentation>Restrict to either an e-mail address</xs:documentation>
						</xs:annotation>
					</xs:pattern>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ClinicalData">
		<xs:annotation>
			<xs:documentation>Used to convey the native or canonical clinical data.  This is defined as a distinct complex type to allow re-defining in derived schemas to reflect canonical or native constraints.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="caCISResponse" type="CaCISResponse">
		<xs:annotation>
			<xs:documentation>The root element for the XML structure that is passed as a response from the caCIS Semantic Adaptor to the source Clinical System or from the Integration Platform to the Semantic Adaptor.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="caCISFault" type="CaCISFault">
		<xs:annotation>
			<xs:documentation>The root element for the XML structure that is passed as a response from the caCIS Semantic Adaptor to the source Clinical System or from the Integration Platform to the Semantic Adaptor.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CaCISResponse">
		<xs:annotation>
			<xs:documentation>The root element for the XML structure to be passed as a response  to the Semantic Adaptor from the caCIS Integration Platform or to the Source Clinical System from the Semantic Adaptorr</xs:documentation>
		</xs:annotation>
		<xs:attribute name="status" type="ResponseStatusType" use="required"/>
	</xs:complexType>
	<xs:complexType name="CaCISFault">
		<xs:annotation>
			<xs:documentation>The root element for the XML structure to be passed as a  fault  to the Semantic Adaptor from the caCIS Integration Platform or to the Source Clinical System from the Semantic Adaptor</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="caCISError" type="CaCISError" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CaCISError">
		<xs:annotation>
			<xs:documentation>The root element for the XML structure to be used to convey errors from caCIS Semantic Adapter to the Clinical System as well as errors within the caCIS components </xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="errorType" type="ErrorType" use="required"/>
				<xs:attribute name="errorCode" type="xs:string" use="required"/>
				<xs:attribute name="path" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="UUID">
		<xs:annotation>
			<xs:documentation>A globally unique identifier, expressed as either an OID or a GUID.</xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-2](\.(0|[1-9][0-9]*))*"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-9A-Z]{8}-[0-9A-Z]{4}-[0-9A-Z]{4}-[0-9A-Z]{4}-[0-9A-Z]{12}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="NonEmptyString">
		<xs:annotation>
			<xs:documentation>A string that is required to have non-empty content.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!--
    - Note: The enumerations in the following typs will be extended over time.  Not all applications will support exposing data for all Document Types, and not all recipients will support all Exchange formats
    -->
	<xs:simpleType name="DocumentType">
		<xs:annotation>
			<xs:documentation>The list of possible document types</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="CLINICAL_NOTE">
				<xs:annotation>
					<xs:documentation>Represents summary information about a particular patient visit or encounter</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COMPLETE">
				<xs:annotation>
					<xs:documentation>Represents complete export of information about a particular patient, to the limits of the capabilities of the source application</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExchangeFormat">
		<xs:annotation>
			<xs:documentation>Defines the exchange syntax for the specified document</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="HL7_V2_CLINICAL_NOTE">
				<xs:annotation>
					<xs:documentation>Data content expressed as an HL7 v2 OBX message using vertical bar syntax.  This format is "proof of concept" only.  Designed for used with the ClinicalNote document type and may not work well for other document types.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CCD">
				<xs:annotation>
					<xs:documentation>The canonical format constrained to just C83-defined section content and excluding any RIM extensions.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="XMLITS">
				<xs:annotation>
					<xs:documentation>The canonical format converted for transmission using HL7's XML ITS.  All data exposed</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResponseStatusType">
		<xs:annotation>
			<xs:documentation>The list of possible response statuses</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="SUCCESS">
				<xs:annotation>
					<xs:documentation>Represents a successfull processing of the request.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FAILURE">
				<xs:annotation>
					<xs:documentation>Represents a failure in processing of the clinical data request. The clinical data is not persisted in the Clinical Data Warehouse and the document is not sent to the target recipients</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ErrorType">
		<xs:annotation>
			<xs:documentation>The list of error severity indicating the severity of the issue to the Semantic Adaptor </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="SECURITY">
				<xs:annotation>
					<xs:documentation>This error indicates that the error is related to the authorization or authentication of the request</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VALIDATION">
				<xs:annotation>
					<xs:documentation>This error indicates that the clinical data is not valid</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STORAGE">
				<xs:annotation>
					<xs:documentation>This error indicates that the clinical data could not be stored</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRANSMISSION">
				<xs:annotation>
					<xs:documentation>This error indicates that the clinical data could not be transmitted to the target system</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IDENTITY_RESOLUTION">
				<xs:annotation>
					<xs:documentation>This error indicates that the Semantic Adaptor got an error resolving local identifiers into standardized identifiers</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
